.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 70%;
    height: auto;
}

.large-button {
    font-size: 20px;
    padding: 10px 20px;
}