.map-key {
    position: fixed; 
    left: 22px; 
    pointer-events: none;
    /*left: 0; */
    bottom: -4%; 
    transform: translateY(-50%); 
    width: 150px; 
    height: 102px; 
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 8px; 
    padding: 8px; 
    /*z-index: 10; */
  }
  
  .map-key-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 8px;
  }
  
  .green {
    background-color: green;
  }
  
  .blue {
    background-color: blue;
  }
  
  .red {
    background-color: red;
  }
  
  .black {
    background-color: black;
  }
  
  .label {
    font-size: 14px;
  }
