/*.popupd { 
    position: fixed;
    background-color:rgba(111, 135, 210, 0.9);
    box-shadow: 0 4px 6px rgba(219, 19, 19, 0.783);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    z-index: 9999;
    bottom: 0;
    left: 50%; 
    width:50%;
    opacity: 0.6;
    transform: translate(-50%,0);
    /*height: 30%;
    /*display: flex; 
    /*justify-content: center; 
    /*align-items: center; 
}

.popupd-header {
    background-color: #0056b3;
    color: white;
}

.popupd-button {
    bbackground-color: #007bff; 
    color: white;
    margin: 10px 10px;

}

.popupd-button:hover {
    bbackground-color: #0069d9;

}
.popupd-button:focus {
    outline: none;
    border-color: #222ba8;
    box-shadow: 0 0 0 3px rgba(66, 45, 152, 0.5);
}

.popupd-content {
    padding: 20px;
}

/*.popup-button {
    background-color: #007bff; 
    color: white;
    margin: 10px 10px;
} 

.popupd-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    color: #051624;
    font-size: 24px;
}

@media screen and (max-width: 600px) {
    .popupd {
        width: 90%;
        font-size: 14px;
    }
}
*/
.popupd { 
    position: fixed;
    /*background-color: white;*/
    background-color:rgba(159, 178, 225, 0.9);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    z-index: 9999;
    opacity: 0.8;
    bottom: 0;
    left: 50%; 
    width: 30%;
    transform: translate(-50%,0);
}

.popupd-header {
    background-color: #0056b3;
    color: white;
}

.popupd-button {
    text-align: center;
    background-color: #4727c9;
    color: white;
    margin: 10px 10px;
}

.popupd-button:hover {
    background-color: #211683;
}

.popupd-button:focus {
    outline: none;
    border-color: #9365f5;
    box-shadow: 0 0 0 3px rgba(24, 42, 156, 0.5);
}

.popupd-content {
    padding: 20px;
}

/*.popup-button {
    margin: 10px 10px;
}*/

.popupd-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    color: #aaa;
    font-size: 24px;
}

@media screen and (max-width: 600px) {
    .popupd {
        width: 90%;
        font-size: 14px;
    }
}

.popup-inner {

}
